.header {
    position: absolute;
    top: 440px;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-start;
    align-items: auto;
    align-self: auto;
    align-content: auto;
    display: flex;
}
