.header {
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    padding-top: 50px;
}

.inputField {
    width: auto;
    align-self: center;
    align-content: center;
    align-items: auto;
    justify-content: space-between;
    font-size: 40px;
    transition-duration: 0.3s;
}

.button:hover {
    scale: 1.1 1.1;
    background-color: rgb(255, 0, 0);
}

.button {
    width: auto;
    height: auto;
    align-self: center;
    align-content: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 198, 198);
    font-size: 40px;
}

.inputField:hover {
    scale: 1.1 1;
}
